---
base_ip: "192.168.56"
management_ip_num: 10
rancher_hostname: "rancher.local.test"
rancher_url: "https://{{ rancher_hostname }}"

rancher_release: "latest"
rancher_bootstrap_password: "SuperAdmin123!"
rancher_ca_signed_cert: true
rancher_tls_source: "secret"
rancher_replicas: 1

rancher_cpu_limit: "1000m"
rancher_cpu_request: "250m"
rancher_memory_limit: "4096Mi"
rancher_memory_request: "1024Mi"

rke2_version: "v1.31.3+rke2r1"
rke2_channel: "stable"
rke2_install_url: "https://get.rke2.io"
cni: "calico"

sealed_secrets_version: "latest"

jetstack_repo: "https://charts.jetstack.io"
rancher_latest_repo: "https://releases.rancher.com/server-charts/latest"
sealed_secrets_repo: "https://bitnami-labs.github.io/sealed-secrets"

timeout_cert_manager: 120
timeout_rancher_ping: 600
timeout_rancher_deploy: 600
timeout_rancher_init: 120
timeout_cluster_token_attempts: 90
timeout_manifest_check: 600
timeout_manifest_wait_attempts: 60
timeout_cattle_agent: 300
timeout_rke2_agent_start: 120
timeout_node_registration: 10
timeout_fleet_ready: 120

cert_manager_crds: true
disable_ingress_nginx_management: false

argocd_enabled: true
argocd_git_repo_url: "git@github.com:anasgrt/rancher-argocd-test.git"
argocd_app_namespace: "argocd"
argocd_cluster_name: "rancher-vagrant-cluster"

# ArgoCD Applications aligned with Kargo stages
argocd_kargo_apps:
  - name: "key01-acc"
    namespace: "key01-acc"
    target_revision: "stage/key01-acc"
    path: "customers/key01/acc"
    sync_policy: "automated"
    self_heal: true
    prune: true
    kargo_stage: "key01-acc"
  - name: "key01-prd"
    namespace: "key01-prd"
    target_revision: "stage/key01-prd"
    path: "customers/key01/prd"
    sync_policy: "automated"
    self_heal: true
    prune: true
    kargo_stage: "key01-prd"
  - name: "key02-acc"
    namespace: "key02-acc"
    target_revision: "stage/key02-acc"
    path: "customers/key02/acc"
    sync_policy: "automated"
    self_heal: true
    prune: true
    kargo_stage: "key02-acc"
  - name: "key02-prd"
    namespace: "key02-prd"
    target_revision: "stage/key02-prd"
    path: "customers/key02/prd"
    sync_policy: "automated"
    self_heal: true
    prune: true
    kargo_stage: "key02-prd"

kargo_enabled: true
kargo_admin_password: "admin"
kargo_project_name: "hello-kargo"
kargo_git_repo_url: "git@github.com:anasgrt/rancher-argocd-test.git"
kargo_git_ssh_private_key_path: "{{ playbook_dir }}/secrets/argocd_deploy_key"

fleet_enabled: true
fleet_workspace_name: "fleet-default"

# Fleet - Key Clusters (downstream/workload)
fleet_key_enabled: true
fleet_key_git_repo_url: "https://github.com/anasgrt/rancher-fleet-test.git"
fleet_key_git_branch: "main"
fleet_key_git_repo_name: "key-manifests"
fleet_key_cluster_group: "key-clusters"
fleet_key_polling_interval: "15s"
fleet_key_environment: "key"
fleet_key_git_paths:
  - "key/gitrepos/common"
  - "key/gitrepos/acc"
  - "key/gitrepos/prd"

# Fleet - Local Cluster (management)
fleet_local_enabled: true
fleet_local_git_repo_url: "https://github.com/anasgrt/rancher-fleet-test.git"
fleet_local_git_branch: "main"
fleet_local_git_repo_name: "local-manifests"
fleet_local_cluster_group: "local-cluster"
fleet_local_polling_interval: "15s"
fleet_local_environment: "management"
fleet_local_git_paths:
  - "local/gitrepos"

downstream_clusters:
  - name: "key"
    environment: "key"
    control_plane_ip: 20
    worker_ip: 21
    disable_ingress_nginx: true

rke2_config_dir: "/etc/rancher/rke2"
rke2_data_dir: "/var/lib/rancher/rke2"
rke2_kubeconfig: "/etc/rancher/rke2/rke2.yaml"
rke2_bin_path: "/var/lib/rancher/rke2/bin"

shared_dir: "{{ playbook_dir }}/.shared"
